<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/logs.css">
    <title>All Logs</title>
</head>

<body>
    <div class="sidebar">
        <%- include('../components/sidebar.ejs')%>
    </div>

    <script>
        const results = JSON.parse('<%-speedtestResults%>');
    </script>

    <div class="main">
        <div class="tabs">
            <button class="tablinks">Text</button>
            <button class="tablinks">Graph</button>
        </div>
        <div id="text" class="tabcontent">
        </div>
        <div id="graph" class="tabcontent">
        </div>
    </div>

    <script src="/js/logs.js"></script>
</body>

</html>