* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

body {
  background: rgb(32, 32, 32);
  color: white;
  overflow-x: hidden;
}

.sidebar {
  height: 100vh;
  width: 22vw;
  position: fixed;
  z-index: 10;
}

h1, h2 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.avgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avgCardContainer {
  height: 100vh;
  width: calc(100vw - 5rem);
  margin-left: 5rem;
  display: grid;
  height: max-content;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "card-download card-upload card-latency card-jitter";
}

.card {
  /* background: #131618; */
  width: calc(100vw / 4)-1rem;
  height: calc(100vh/2)-1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
}

.circular-progress-bar {
  height: 250px;
  width: 250px;
}

.track, .progress {
  stroke: lightgrey;
  fill: none;
  stroke-width: 20;
  transform-origin: center;
  transform: rotate(-235deg);
}

.card-download {
  grid-area: card-download;
}

.card-upload {
  grid-area: card-upload;
}

.card-latency {
  grid-area: card-latency;
}

.card-jitter {
  grid-area: card-jitter;
}

@media (max-width: 750px), (max-width: 1080px) {
  .card {
    width: calc(100vw / 3 - 2.25rem);
  }
  .card-jitter {
    width: 100vw;
    padding: 1% 0;
  }
  .avgCardContainer {
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'card-download card-upload card-latency' 'card-jitter card-jitter card-jitter';
    /* 'card-jitter card-jitter card-jitter'; */
  }
}

@media (max-width: calc(500px - 5rem)), (max-width:calc(820px)) {
  .avgCardContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "card-download card-upload" "card-latency card-jitter";
  }
  .card {
    width: calc(100vw / 2 - 2.25rem);
  }
}

@media (max-width: 250px), (max-width:580px) {
  .avgCardContainer {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100vw;
    margin: 0;
  }
  .card {
    width: 100vw;
    scroll-snap-align: center;
  }
}

/* .chartContainer {
  padding: 2%;
  background-color: rgb(32, 32, 32);
  height: 80vh;
  width: 95vw;
} */