* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    color: white;
}

.sidebar {
    height: 100vh;
     position: fixed;
    z-index: 100;
}

.main {
    background: rgb(32, 32, 32);
    min-height: 100vh;
    width: calc(100vw - 5rem);
    margin-left: 5rem;
    position: absolute;
    z-index: 10;
}


.tabs {
    background-color: rgb(71, 69, 69);
    width: calc(100vw - 5rem);
    border-bottom: 1px rgb(71, 69, 69);
    display: flex;
}

.tabs button {
    border: none;
    background: inherit;
    font-size: 1.25em;
    outline: none;
    cursor: pointer;
    padding: 1em 1.2em;
    transition: 0.3s;
    white-space: nowrap;
}

.tabs button:hover {
    margin: 0;
    background-color: rgb(65, 65, 65);
}

.tabs button.active {
    background-color: rgb(54, 51, 51);
}

.logs-ul {
    height: calc(100vh - 5em);
    width: calc(100vw - 5rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

.log {
    height: 7rem;
    /* width: calc(100vw - 7.75rem); */
    margin: 1rem;
    background-color: rgb(52, 52, 52);
    position: relative;
}

.log-timestamp {
    margin-top: 1%;
    margin-left: 10%;
    position: absolute;
    color: lightgray;
}

.log-url {
    position: absolute;
    margin-top: 1%;
    top: 0;
    right: 0;
    margin-right: 10%;
}


.log-download {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1f8de7;
}

.log-upload {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.log-upload > pre{
    color: #bd71ff;
}

.log-jitter {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 1%;
    margin-left: 10%;
    color: #e76f2e;
}

.log-latency {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1%;
    margin-right: 10%;
    color: #f2485c;
}

@media (max-width: 250px), (max-width:580px) {
    .main {
        width: 100vw;
        height: calc(100vh - 5rem);
        margin-left: 0;
    }
    .logs-ul, .tabs{
        width: 100vw;
    }

    .logs-ul{
        height: calc(100vh - 9rem);
    }
}